@model List<EFDbFirstApproachExample.Models.Brand>

@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Brands</h2>

<a href="/brands/create">Create</a>

<form class="form-inline" action="/brands/index">
    <label for="search" class="mr-1">Search:</label>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search">
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table">
    <tr class="table-secondary">


        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/Brands/index?SortColumn=BrandID&IconClass=fa-sort-asc&PageNo=2">Brand ID</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/Brands/index?SortColumn=BrandID&IconClass=fa-sort-desc&PageNo=2">Brand ID</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:20%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/Brands/index?SortColumn=BrandID&IconClass=fa-sort-asc&PageNo=2">BrandName</a>
                if (ViewBag.SortColumn == "BrandName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/Brands/index?SortColumn=BrandID&IconClass=fa-sort-desc&PageNo=2">Brand Name</a>
                if (ViewBag.SortColumn == "BrandName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        <th style="width:10%"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.BrandID</td>
            <td>@item.BrandName</td>

            <td>
                <a href="/brands/details/@item.BrandID">Details</a> |
                <a href="/brands/edit/@item.BrandID">Edit</a> |
                <a href="/brands/delete/@item.BrandID">Delete</a> |
            </td>
        </tr>
    }

    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>


